server:
  port: 8080

spring:
  application:
    name: data-loader-service

  datasource:
    url: jdbc:postgresql://localhost:5432/cronos_historical_data
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,beans,batch-jobs,batch-job-instances
  endpoint:
    health:
      show-details: always


